body {
    min-width: 320px;
    height: 100%;
    background-color: $black;
    font-size: 16px;
}

a {
    text-decoration: none;

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        word-break: normal;
        word-wrap: break-word;
    }
}

p, b, span, label, address {
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        word-break: normal !important;
        word-wrap: break-word !important;
    }
}

img {
    max-width: 100%;
    height: auto;
}

.visually-impaired-img {
    display: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    font-size: 16px;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

.w-90 {
    width: 90%;
}

.w-80 {
    width: 80%;
}

.w-70 {
    width: 70%;
}

.w-60 {
    width: 60%;
}

.w-40 {
    width: 40%;
}

.w-30 {
    width: 30%;
}

.w-20 {
    width: 20%;
}

.w-10 {
    width: 10%;
}

.m-a {
    margin: auto;
}
.ml-a {
    margin-left: auto;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: $black;
    box-shadow: 0px 0px 10px rgba(white,0.1);

    a {
        padding: 15px 10px;
        color: white;

        &:hover, &:focus {
            color: $yellow;
        }
    }
}

.main-img-bg {
    height: 400px;
    overflow: hidden;
    position: relative;
    margin-top: 50px;

    img {
        position: absolute;
        bottom: -100px;
    }
}

.filter {
    width: 150px;

    .filter-item {
        color: white;
        border: none;
        background-color: $black;
        text-align: left;
        width: 100%;
        padding: 15px 5px;
        border-bottom: 2px solid white;

        &:hover, &:focus {
            color: $yellow;
            border-bottom: 2px solid $yellow;
        }
    }
}


.content-wrapper {
    display: flex;
    margin-top: 15px;
    .card-list{
        width: calc(100% - 150px);
    }
}

/* Хлебные крошки */
.breadcrumbs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 2.7rem 0 2rem 2rem;

    li {
        &::after {
            content: "/";
            margin: 0 0.25rem;
        }

        &:last-of-type::after {
            content: "";
        }

        a {
            line-height: 1rem;
            font-weight: 500;
            color: $yellow;
            border-bottom: 1px solid $yellow;
            -webkit-transition: all 0.2s ease;
            -o-transition: all 0.2s ease;
            transition: all 0.2s ease;

            &:hover,
            &:focus,
            &.active {
                color: white;
                border-bottom: none;
            }
        }
    }
}
// счетчики
.main-counter {
    min-width: 20px;
    min-height: 20px;
    padding: 2px;
    font-size: 0.875rem;
    font-weight: 500;
    text-align: center;
    color: $black;
    vertical-align: middle;
    background-color: $yellow;
    border-radius: 20%;
    font-size: 10px;
}
// Сообщение ошибка
.no-data-msg {
    position: relative;
    max-width: 650px;
    padding: 1.25rem 0.625rem 1.25rem 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: left;
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 25px;
    color: $yellow;
    font-size: 1.375rem;
    font-weight: 500;

    &.engineering-works-msg {
        max-width: 100%;
        width: 100%;
        margin: 1.875rem 0;
    }

    &::before {
        content: "!";
        position: absolute;
        top: 49%;
        left: 2rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 35px;
        height: 35px;
        padding-bottom: 3px;
        margin-top: -0.8125rem;
        font-size: 1.375rem;
        color: $black;
        background-color: $yellow;
        background-size: cover;
        border-radius: 20%;

        @media (max-width: 479px) {
            position: initial;
            margin: 0.625rem auto;
            width: 35px;
            height: 35px;
            font-size: 1.625rem;
        }
    }

    @media (max-width: 479px) {
        padding: 1.25rem 0.9375rem;
        flex-direction: column;
        text-align: center;
        font-size: 1.125rem;
        line-height: 1.25rem;
    }
}

.block-title {
    margin: 0 0 2rem 2rem;
    font-size: 2rem;
    font-weight: 900;
    color: $yellow;
}